/* CSS Document */
/* ~~ Reset ~~ */
ul, ol, dl {
  padding: 0;
  margin: 0;
  list-style-type: none; }

h1, h2, h3, h4, h5, h6, p {
  margin-top: 0; }

a img {
  border: none; }

/* ~~ REUSABLE ~~ */
.hide {
  text-indent: -997;
  height: 0px; }

.bg {
  background: #fafafa; }

.bg1 {
  background: #fefefe; }

.container {
  width: 1200 !important; }

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }

@media (min-width: 768px) {
  .container {
    width: 750px; } }
@media (min-width: 992px) {
  .container {
    width: 978px; } }
@media (min-width: 1200px) {
  .container {
    width: 1200px; } }
body {
  background-image: url(/images/bg-photo.jpg);
  background-color: #484b6d;
  background-repeat: repeat-x;
  background-attachment: fixed;
  background-position: center top;
  background-size: cover;
  position: relative;
  padding: 45px 0;
  font-family: 'Roboto';
  color: #777777; }

/*    ***TOP COLOR***    */
.header-color .color {
  height: 8px;
  width: 20%;
  float: left; }
.header-color .color1 {
  background: #e60000; }
.header-color .color2 {
  background: #484b6d; }
.header-color .color3 {
  background: #474c58; }

.header-button {
  padding: 15px;
  text-align: right; }
  .header-button button {
    background: #484b6d;
    color: #fafafa; }
  .header-button button:hover {
    background: #262946 !important;
    color: #fafafa; }

/*    ***********************************  CONTENT  ***********************************    */
/* ****** TIMELINE ****** */
.timeline-wrap {
  width: 128px;
  height: 60px;
  padding: 0; }

.timeline-bg {
  background: url(/images/timeline-bg.png) repeat-x center center fixed; }

/*  TITLE HEADER MARGIN  */
.margin-header-title-left {
  height: 75px;
  width: 85px; }

.timeline-progress {
  background: url(/images/progress-bar.png) center center;
  background-size: 400px 500px;
  height: 75px; }

.title-margin-top {
  height: 75px;
  width: 85px; }

.margin-header-title-right {
  height: 75px;
  width: 101px; }

/*  TITLE  */
.timeline-title {
  background: url(/images/progress-title.png) center center;
  background-size: 400px 500px;
  height: 85px; }

.title {
  height: 82px; }

.margin-title-left {
  height: 82px;
  width: 85px; }

.margin-title-right {
  height: 82px;
  width: 101px; }

/*  INTRO  */
#intro .intro-content {
  margin: 100px 0; }
#intro .intro-h1 {
  font-weight: 300;
  font-size: 54px;
  color: #222222;
  border-bottom: 1px solid #e60000;
  padding-bottom: 10px; }
  #intro .intro-h1 span {
    color: #e60000;
    font-weight: bold; }
#intro .intro-h2 {
  font-size: 18px;
  color: #555555;
  margin: 10px 0 15px; }
#intro .intro-p {
  font-size: 16px;
  color: #333333; }

.border {
  padding: 15px 0 0 32px; }
  .border img {
    width: 210px;
    height: 210px;
    border-radius: 50% 50%;
    border: 5px solid #e60000;
    padding: 5px 5px;
    margin: 0 auto;
    background: #fafafa; }

/*  PROFILE  */
#profile .margin-profile-left {
  height: 82px;
  width: 85px; }
#profile .timeline-profile {
  background: url(/images/progress-point.png) center center;
  background-size: 400px 500px;
  height: 82px; }
#profile h2 {
  color: #1E235D;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 40px;
  line-height: 60px; }
#profile h3 {
  color: #484b6d;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 14px;
  padding-bottom: 5px;
  border-bottom: 1px solid #ccc; }
#profile p {
  color: #333333;
  font-size: 14px; }
#profile .margin-profile-right {
  height: 82px;
  width: 101px; }
#profile .margin-right-wrap {
  padding: 0; }

.btn-default {
  background: #484b6d;
  border: #484b6d;
  color: #fafafa; }

.btn-default:hover {
  background: #26294b !important;
  color: #fafafa; }

.test {
  margin-top: 12px !important; }

/*  EDUCATION  */
#education .margin-edu-left {
  height: 164px;
  width: 85px; }
#education .timeline-edu {
  background: url(/images/progress-edu.png) center center;
  background-size: 400px 500px;
  height: 164px; }
#education h2 {
  color: #1E235D;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 40px;
  line-height: 60px; }
#education h3 {
  color: #484b6d;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 14px;
  padding-bottom: 5px;
  border-bottom: 1px solid #ccc; }
#education h4 {
  color: #777777;
  font-size: 14px;
  font-weight: bold; }
#education p {
  color: #333333;
  font-size: 14px;
  font-size: 13px;
  line-height: 19px; }
#education .date {
  font-size: 14px;
  font-style: italic;
  font-weight: 200; }
#education .content-edu {
  padding-bottom: 20px; }
#education .margin-edu-right {
  height: 164px;
  width: 101px; }
#education .margin-right-wrap {
  padding: 0; }

/*  WORK  */
#work .margin-work-left {
  height: 164px;
  width: 85px; }
#work .timeline-work {
  background: url(/images/progress-work.png) center center;
  background-size: 400px 500px;
  height: 164px; }
#work h2 {
  color: #1E235D;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 40px;
  line-height: 60px; }
#work h3 {
  color: #484b6d;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 14px;
  padding-bottom: 5px;
  border-bottom: 1px solid #ccc; }
#work h4 {
  color: #777777;
  font-size: 14px;
  font-weight: bold; }
#work p {
  color: #333333;
  font-size: 14px;
  font-size: 13px;
  line-height: 19px; }
#work .date {
  font-size: 14px;
  font-style: italic;
  font-weight: 200; }
#work .content-work {
  padding-bottom: 20px; }
#work .margin-work-right {
  height: 164px;
  width: 101px; }
#work .margin-right-wrap {
  padding: 0; }

/*  SKILLS  */
#skills .margin-skills-left {
  height: 164px;
  width: 85px; }
#skills .timeline-skills {
  background: url(/images/progress-point.png) center center;
  background-size: 400px 500px;
  height: 164px; }
#skills h2 {
  color: #1E235D;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 40px;
  line-height: 60px; }
#skills h3 {
  color: #484b6d;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 14px;
  padding-bottom: 5px;
  border-bottom: 1px solid #ccc; }
#skills .content-skills {
  padding-bottom: 20px; }
#skills .margin-skills-right {
  height: 164px;
  width: 101px; }
#skills .margin-right-wrap {
  padding: 0; }

/*  INTERESTS  */
#interests .margin-interests-left {
  height: 102px;
  width: 85px; }
#interests .timeline-interests {
  background: url(/images/progress-point.png) center center;
  background-size: 400px 500px;
  height: 102px; }
#interests h2 {
  color: #1E235D;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 40px;
  line-height: 60px; }
#interests h3 {
  color: #484b6d;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 14px;
  padding-bottom: 5px;
  border-bottom: 1px solid #ccc; }
#interests p {
  color: #333333;
  font-size: 14px;
  font-size: 13px;
  line-height: 19px; }
#interests .content-interests {
  padding-bottom: 2px; }
#interests .margin-interests-right {
  height: 102px;
  width: 101px; }
#interests .margin-right-wrap {
  padding: 0; }

/*  PORTFOLIO  */
#portfolio h2 {
  color: #1E235D;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 40px;
  line-height: 60px; }

/*  CONTACT  */
#contact h2 {
  color: #1E235D;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 40px;
  line-height: 60px; }

/*# sourceMappingURL=screen.css.map */
